
main{
min-height: 100vh;
}
form{
    min-height: auto;
}
.ingreso{
    margin: 3% 8% 4.5%;
    border: 2px solid #54BFA1;
}
#textoAviso{
    font-size: 24px;
    margin: 7% 13% 4% 10%;
}
#textoUsuario, #textoContrasena{
    margin: 0;
    width: 65%;
    margin-left: 18%;
    margin-bottom: 1%;
    font-size: 15px;
}

.envio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingreso h1{
    text-align: center;
    width: auto;
    margin-top: 2%;
    margin-left: 0%;
}

.ingresar_usuario, .ingresar_contrasenia{
    display: flex;
    flex-direction: column;
}

.ingresar_usuario{
    margin-top: 7%;
}

.ingresar_contrasenia{
    margin-top: 10%;
    margin-bottom: 5%;
}

.envio a{
    color: #000000;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.envio button{
    width: 30%;
}

@media only screen and(width<=450px){
    .ingreso{
        margin: 13% 8% 4.5%;
    }
}
@media only screen and (width >= 700px){
    .ingreso{
        margin: 3% 13% 4.5%;
    }
    form button {
        padding: 10px 10%;
    }
    footer{
        justify-content: space-around;
        align-items: center;
    }
    main{
        height: 100%;
    }
    input, label{
        margin-left: 10%;
    }

    #textoUsuario, #textoContrasena {
        margin-left: 16%;
    }
    #textoAviso{
        margin-left: 13%;
    }

}

@media only screen and (width >=800px){
    .ingreso{
        margin: 3% 25% 4.5%;
    }

    #textoAviso{
        font-size: px;
        margin: 4% 13% 2% 10%;
    }

    .envio a, .envio button{
        font-size: 150%;
    }

    .ingresar_usuario, .ingresar_contrasenia{
        margin-left: 15%;
    }
}


