body {
    background-color: #EAFFF6;
    overflow-x: hidden;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3%;
}

.logoRedes{
    width: 10%;
    padding-right: 0%;
}
.face, .insta{
    width: 85%;
    height: auto;
}

article{
    padding: 0% 5%;
}

.contenedorMenuBotones{
    height: 40px;
    position: relative;
}

.contenedorMenuLista{
    width: 12rem;
    height: 0px;
    position: absolute;
    right: 0;
    top: 6%;
}
.ocultarElem{
    display: none;
}
.mostrarLi{
    display: block;
    color: white;
}
.contenedorMenuBotones button {
    position: absolute;
    right: -10%;
    background-color: #EAFFF6;
    border: none;
    top: 15%;
}

ul li{
    list-style: none;
    width: 100%;
    padding: 0.5rem;
}

ul{
    margin: 0.4rem 1.3rem 0rem 0rem;
    padding: 0;
    line-height: 2rem;
    background-color: #54BFA1;
    border-radius: 3px;
    overflow: hidden;
    color: transparent;
    max-height: 0;
    transition: max-height 0.8s ease-out;
}

ul.show {
    max-height: 245px;
}
ul.cerrar {
    max-height: 0px;
}
ul li:hover{
    color: black;
}

ul li a:hover{
    color: black;
}

.botonHover:hover{
    background-color: #1B322B;
}

.logo{
    width: 12%;
    height: 4%;
    margin-left: 1%;
    margin-top: 0.5%;
}


h2, h1, h3{
    font-family: 'Merriweather';
    width:90%;
}
h2{
    font-size: 180%;
}
h1{
    font-size: 200%;
    margin-left: 5%;
}
p{
    font-family: 'Roboto';
    text-align: left;
    font-size: 18px;
}

.formas_ayudar p{
    padding-right: 10%;
    margin-top: 0.5%;
    margin-right: 0%;
}
.parrafoNecesitaIngresar{
    color: red;
}
.voluntario_inicio, .hogar_inicio, .padrino_inicio{
    margin: 13% 0%;
}
.donar_inicio{
    margin-top: 5%;
}


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #54BFA1;
    margin-top: 2%;
    padding: 2% 0%;
}
.linkInstagramFooter{
    display: none;
}

.imagen_inicio{
    width: 90%;
    margin: 3%;
    margin-top: 1%;
}
.noMostrar{
    display: none;
}
.mostrar{
    display: block;
}
a, .mostrarLi{
    text-decoration: none;
    color: #FFFFFF;
}
.formas_ayudar p{
    font-size: 120%;
}

.formas_ayudar button{
    margin-left: 10%;
    background-color: #326254;
    padding: 7px 20% 7px 20%;
    border-radius: 5px;
    border: none;
    color: white;
}


footer p{
    margin: 2% 0% 2% 2%;
    color: #FFFFFF;
}

/*Donación*/

.titulo_donacion{
    margin-left: 5%;
    font-family: 'merriweather';
    font-size: 150%;
}
 
.texto_donacion{
 display: flex;
 flex-direction: column;
 align-items: center;   
}

.texto_donacion p{
    text-align: left;
    font-family: 'Roboto';
    font-size: 120%;
    margin-right: 10%;
    margin-left: 8%;
}


.ayudanos{
    display: flex;
    flex-direction: column;
}

.acomodar{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    padding-right: 0%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.ayudanos h2{
    font-size: 200%;
    font-family: 'Merriweather';
    margin-left: 4%;
}

.banco h3, .mercado h3{
    margin-left: 4%;
    font-size: 150%;
    font-family: 'Merriweather';
}

.banco{
    width: 35%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.banco p, .mercado p{
    font-size: 20px;
    margin-left: 6%;
}

/*Adopcion*/
.adopcion img{
    width: 100%;
    height: auto;
}
section .chiqui, section .milton, section .luna, section .clarita, section .freddy, section .fido,
section .ginger, section .malbec, section .marley, section .melba, section .muma, section .nala, section .negro,
section .rocky, section .tina{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 5%;
    margin-bottom: 10%;
}

.perros_adopciones h2, .perros_adopciones p, .perros_adopciones button{ 
    margin: 0 0 3% 3%;
}
.perros_adopciones h2{
    padding-top: 3%;
    padding-left: 3%;
}

.nombre_descripcion{
    background-color: #EFF2F1;
    margin: -1% 4% 1% 4%;
    padding:0% 2% 1% 0%;
    border-radius: 10px;
}

.perros_adopciones p{
    font-size: 17px;
    padding: 0% 3% 2% 3%;
}


.adopcion button{
    margin-left: 5%;
    margin-top: 2%;
    background-color: #326254;
    padding: 7px 10%;
    border-radius: 5px 5px 5px 5px;
    border: none;
    color: white;
}

@media only screen and (width>=500px){
    .face, .insta{
        width: 80%;
        height: auto;
    }
}

@media only screen and (width>=500px){
    .face, .insta{
        width: 60%;
        height: auto;
    }
}


@media only screen and (width>=700px){
    .formas_ayudar p, p{
        font-size: 22px;
    }
    .formas_ayudar button{
        padding: 10px 20%;
    }
    .formas_ayudar button a{
        white-space: normal;
    }
    .contenedorMenuLista{
        top: 5%;
    }
    footer{
        padding: 0%;
    }

    h3{
        font-size: 24px;
    }
    h2{
        font-size: 220%;
    }
    h1{
        font-size: 250%;
        margin-left: 5%;
    }
    section .chiqui, section .milton, section .luna, section .clarita, section .freddy, section .fido,
    section .ginger, section .malbec, section .marley, section .melba, section .muma, section .nala, section .negro,
    section .rocky, section .tina{
        display: grid;
        grid-template-columns: 1fr 3fr;
       margin-left: 5%;
       margin-bottom: 9%;
    }

}

@media only screen and (width >= 800px){
    nav{
        background-color: #54BFA1;
        display: flex;
        flex-direction: row;
        margin: 0%;
        padding: 0%;
        align-items: center;
        justify-content: space-between;
    }


    h1{
        margin-top: 4%;
    }

    .titulo_adopcion{
        margin-bottom: 4%;
    }
    
    article{
        padding: 0% 1%;
    }

    .contenedorMenuBotones{
        display: none;
    }

    .contenedorMenuLista{
        height: 100%;
        width: 75%;
        position: relative;
    }
    
    ul{
      display: flex;
      position: relative;
      overflow: visible;
      justify-content: space-evenly;
      max-height: none;
    }
    
    ul li{
        list-style: none;
        margin-top: 0%;
        text-align: center;
    }

    a, .mostrarLi{
        white-space: nowrap;
        font-size: 130%;
    }

    .nosotros{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }  

    .logo{
        width: 5%;
        margin-bottom: 1%;
    }
    
    .formas_ayudar p, p{
        font-size: 18px;
        font-family: 'Roboto';
        text-align: left;
        padding-right: 10%;
        margin-top: 0.5%;
        margin-right: 0%;
    }

    .formas_ayudar .donar_inicio p{
        padding-right: 0%;
    }
    
    .imagen_inicio{
        width: 350px;
        height: 500px;
        margin: 3%;
        margin-top: -5%;
    }
    
    .formas_ayudar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 2% 5%;
    }

    h2{
        font-size: 250%;
        margin-left: 5%;
    }
    
    h3{
        margin-top: -2%;
        margin-left: 0%;
        font-size: 150%;
    }

    .hogar_inicio h3{
        margin-right: -1%; 
    }

    .donar_inicio, .voluntario_inicio, .hogar_inicio, .padrino_inicio{
        display: grid;
        grid-template-rows: 0fr 3fr 0fr;;
        align-content: space-between;
        margin: 0 0 0 5%;
    }
    
    .donar_inicio button, .voluntario_inicio button, .hogar_inicio button,  .padrino_inicio button{
        margin-left: 5%;
        background-color: #326254;
        padding: 7px 20% 7px 20%;
        border-radius: 5px;
        border: none;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        background-color: #54BFA1;
        margin-top: 0%;
    }
    
    .logoRedes{
        width: 5%;
        padding-right: 6%;
        text-align: end;
    }
    
    
    /*donacion*/
    .titulo_donacion{
        margin-left: 5%;
        margin-top: 4%;
        font-family: 'merriweather';
        font-size: 250%;
    }
     
    .texto_donacion{
     flex-direction: row;
     align-items: self-start;
     margin-top: 2%;
    }
    
    .texto_donacion p{
        text-align: left;
        font-family: 'Roboto';
        font-size: 150%;
        margin-right: 10%;
        margin-left: 5%;
    }
    
    .perro_donacion {
        margin-right: 2%;
        height: 350px;
        width: auto;
    }
    
    .ayudanos{
        display: flex;
        flex-direction: column;
    }
    
    .acomodar{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
        padding-right: 0%;
    }
    
    .ayudanos h2{
        font-size: 200%;
        font-family: 'Merriweather';
        margin-left: 5%;
    }
    
    .banco h3{
        margin-left: 1%;
        font-size: 150%;
        font-family: 'Merriweather';
    }
    
    .banco{
        width: 35%;
        margin-left: 3%;
    }
    
    .banco p, .mercado p{
        font-size: 20px;
        margin-left: 6%;
    }
    
     /*Adopciones*/
    .perros_adopciones h2, .perros_adopciones p, .perros_adopciones button{
        margin-left: 3%;
    }
    
    .nombre_descripcion{
        background-color: #EFF2F1;
        margin: -1% 4% 1% 4%;
        padding:0% 2% 1% 0%;
        border-radius: 10px;
    }
    
    .rocky .nombre_descripcion{
        margin-left: 3%;
        margin-top: 1%;
        height: 150px;
    }
    
    
    .perros_adopciones p{
        font-size: 20px;
        margin-top: -1%;
    }
    .chiqui button, .milton button, .luna button, .clarita button, .freddy button, .fido button, .ginger button, .malbec button,
    .marley button, .muma button, .melba button, .nala button, .negro button, .rocky button, .tina button{
        margin-left: 10%;
        background-color: #326254;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 5px 5px 5px 5px;
        border: none;
    }

    .adopcion button{
        font-size: 150%;
    }
    
    .melba button{
        margin-left: 12%;
        padding-left: 11.7%;
        padding-right: 11.7%;
    }
    
    .nala button{
        margin-left: 13.7%;
        padding-left: 12.5%;
        padding-right: 15%;
    }
    
    .nala button a{
        margin-left: 22%;
    }
    
    .rocky button{
        margin-top: 2%;
        margin-left: 6.1%;
        padding-right: 12.4%;
    }
    
    .rocky button a{
        margin-left: 22%;
    }
    
    .tina button{
        margin-left: 12.9%;
        padding-right: 16.5%;
    }
    
    .tina button a{
        margin-left: 45%;
    }
    p.parrafoNecesitaIngresar{
        font-size: 24px;
        margin-left: 7%;
    } 
}

@media only screen and (width >= 1100px){
    .perro_donacion {
        height: 550px;
    }
}
