
main{
min-height: 100vh;
}
form{
    min-height: auto;
}
.ingreso{
    margin: 3% 8% 4.5%;
    border: 2px solid #54BFA1;
}
#textoAviso{
    font-size: 22px;
    margin: 10% 0 0 5%;
}
#textoUsuario, #textoContrasena{
    margin: 0;
    width: 90%;
    margin-left: 18%;
    margin-bottom: 1%;
    font-size: 15px;
}

.envio{
    display: flex;
    flex-direction: column;
}

.ingreso h1{
    text-align: center;
    width: auto;
    margin-top: 2%;
    margin-left: 0%;
}

.ingresar_usuario, .ingresar_contrasenia{
    display: flex;
    flex-direction: column;
}

.ingresar_usuario{
    margin-top: 7%;
}

.ingresar_contrasenia{
    margin-top: 10%;
    margin-bottom: 5%;
}

.envio a{
    color: #000000;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.envio button{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}

@media(width<=450px){
    .ingreso{
        margin: 13% 8% 4.5%;
    }
}
@media(width>=700px){
    .ingreso{
        margin: 3% 13% 4.5%;
    }
    form button {
        padding: 10px 10%;
    }
    footer{
        justify-content: space-around;
        align-items: center;
    }
    .face, .insta {
        width: 6%;
        height: 6%;
        margin-bottom: 2%;
    }
    main{
        height: 100%;
    }

}

@media(width>=800px){
    .ingreso{
        margin: 3% 25% 4.5%;
    }

}


